.left-side{
	width: 15%;
	float: left;
	overflow: auto;
	cursor: pointer;
}

.right-side{
	width: 80%;
	float: right;
	cursor: pointer;
}

.image-label{

}



#canvas{

}

.keyPointSelector{
	width: 20%;
	text-align: center;
	font-size: 2em;
}

#save-button{
	width: 5vw;
	font-size: 2em;
	border: 2px solid black;
	background-color: violet;
}
