.left-side{
	width: 15%;
	float: left;
	overflow-y: scroll;
	position: fixed;
	display: inline-block;
	cursor: pointer;
	top: 0vh;
	bottom: 0vh;
	border-right: 1vw solid black;
}

.left-side div {
	font-size: 1.25em;
}

.left-side div:hover{
	color: blue;
}

.right-side{
	width: 80%;
	float: right;
	cursor: pointer;
}

.image-label{

}



#canvas{

}

.keyPointSelector{
	width: 15%;
	text-align: center;
	font-size: 1.5em;
	float: left;
}

.fretboard-keypoint{
	width: 7vw;
	text-align: center;
	font-size: 1.5em;
	float: left;
}

#save-button{
	width: 4vw;
	font-size: 1.5em;
	border: 2px solid black;
	background-color: violet;
}

.user-container{
	border-bottom: 4px solid black;
	overflow: auto;
}

.user-label{
	width: 5vw;
	float: left;
}