
<div class="left-side">
  <div *ngFor="let name of imageFileNames; let i = index" (click)="selectImage(name, i)" class="image-label" [ngStyle]="fileNameLabelStyles[i]">{{name}}</div>
</div>

<div class="right-side">
  <div *ngFor="let keyPoint of keyPointsMap[this.exerciseSelected]" 
      [ngStyle]="keyPointsStylesMap[keyPoint]" 
      (click)="selectKeyPoint(keyPoint)"
      class="keyPointSelector"
  >{{keyPoint}}
  </div>

  <canvas id="canvas" (click)="drawKeyPoint()"></canvas>
  <div id="save-button" (click)="createJSONFile()" *ngIf="showSaveButton">Save</div>
  <div id="toggle-labels" (click)="toggleLabels()"> Toggle Labels </div>

  <div class="keyPointLabel" *ngFor="let keyPoint of keyPointsMap[this.exerciseSelected]" [ngStyle]="keyPointsLabelStyles[keyPoint]">{{keyPoint}}</div>
</div>
